TZ=utc
BRAND_NAME=Silvernext
FRONTEND_URL=https://silvernext.icapps-projects.com

# Application
LOG_LEVEL=debug
REQUESTS_PER_MINUTE=1000
ALLOWED_ORIGINS=http://localhost:3000
SWAGGER_PATH=docs
REQUESTS_PER_MINUTE=1000
# Don't supply PORT on heroku, provided dynamically, only used for local environment
#PORT=3001
# Only required on production like environment (staging / production)
#SENTRY_DSN=

# JWT / Cookies
JWT_SECRET=bestkeptjwtsecret
SESSION_SECRET=bestkeptsessionsecret
SESSION_TTL=86400000

# Mandrill
MAIL_FROM=silvernext@icapps.be
#MANDRILL_API_KEY=

# Redis
REDIS_URL=redis://localhost:6379

# Database
DATABASE_LOGGING="all"
DATABASE_URL=postgres://developer:developer@localhost:5432/silvernext
DATABASE_SSL=false
